<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="az.btb.mobilebanking">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT" /> <!-- before API 28 -->
    <uses-permission android:name="android.permission.USE_BIOMETRIC"/> <!-- after API 28 -->
    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <!-- Stay up-to-date with: https://developer.android.com/guide/topics/graphics/opengl -->
<!--    <uses-feature android:glEsVersion="0x00030001" android:required="true" />-->

    <application
        android:name="az.btb.mobilebanking.App"
        android:allowBackup="false"
        android:fullBackupOnly="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:screenOrientation="portrait"
        android:hardwareAccelerated="true"
        android:networkSecurityConfig="@xml/network_security_conf"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Check-out secure.properties file & app level build.gradle-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/maps_api_key" />

        <!-- custom default icon. etrafli: https://goo.gl/l4GJaQ -->
<!--        <meta-data-->
<!--            android:name="com.google.firebase.messaging.default_notification_icon"-->
<!--            android:resource="@mipmap/ic_launcher_foreground"/>-->

        <!-- incoming notification ile gelen notificationnun rengin duz-qosh ede bilersen burdan. Etrafli: https://goo.gl/6BKBk7 -->
<!--        <meta-data-->
<!--            android:name="com.google.firebase.messaging.default_notification_color"-->
<!--            android:resource="@color/colorAccent"/>-->

        <service android:name="az.btb.mobilebanking.AppFirebaseMessagingService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:replace="screenOrientation,android:theme"
            android:exported="false"
            />

        <activity android:name="az.btb.mobilebanking.MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar.Launcher"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>